.green-button {
    background-color: green !important;
    color: white !important;
}

.btn-danger:active {
    background-color: red !important; /* Change it to the original color when clicked */
}